
@{
	ViewData["Title"] = "APR";
}

@section Script
{
	<script type="text/javascript" language="javascript" src="~/script/app/APR.js"></script>
	<script type="text/javascript" language="javascript" src="~/script/controller/APR.js"></script>
	<script type="text/javascript" language="javascript" src="~/script/controller/APR.update.js"></script>
}

<div data-ng-app="app-APR">
	<div data-ng-view></div>
</div>
