
@{
	ViewData["Title"] = "APR";
}

@section Script
{
	<script type="text/javascript" language="javascript" src="~/script/app/APR.js"></script>
	<script type="text/javascript" language="javascript" src="~/script/controller/maintenance/unique.js"></script>
	<script type="text/javascript" language="javascript" src="~/script/controller/maintenance/unique.save.js"></script>
}

<div data-ng-app="app-APR">
	<data-ui-view>
		[View]
	</data-ui-view>
</div>
