
@{
	ViewData["Title"] = "Index";
}

<div>
	<ul>
		@*
		<li>
			<a asp-controller="App" asp-action="Index">Index</a>
		</li>
		*@
		<li>
			<a asp-controller="App" asp-action="APR">APR</a>
		</li>
	</ul>
</div>
