<div>
	<spinner while="vm.isBusy">Loading {{vm.displayName}}(s)...</spinner>
	<div class="text-success" data-ng-bind="vm.successMessage" data-ng-show="vm.successMessage"></div>
	<div class="text-danger" data-ng-bind="vm.errorMessage" data-ng-show="vm.errorMessage"></div>
	<a data-ui-sref="save" data-ng-click="vm.onSave()" class="btn btn-sm btn-primary">New</a>
	<input
		data-mwl-confirm
		data-ng-show="vm.items.length > 0"
		class="btn btn-sm btn-default"
		data-title="Confirm Delete All {{vm.displayName}}(s)"
		data-message="Are you sure?"
		data-confirm-text="Yes"
		data-cancel-text="No"
		data-on-confirm="vm.onRemove()"
		type="button"
		value="Delete All"
	/>
	<div data-ng-repeat="item in vm.items track by $index">
		<a data-ui-sref="save" data-ng-click="vm.onSave($index)" class="btn btn-sm btn-xs btn-primary">Edit</a>
		<input
			data-mwl-confirm
			class="btn btn-sm btn-xs btn-default"
			data-title="Confirm Delete {{vm.displayName}}"
			data-message="Are you sure?"
			data-confirm-text="Yes"
			data-cancel-text="No"
			data-on-confirm="vm.onRemove($index)"
			type="button"
			value="Delete"
		/>
		|
		<span data-ng-bind="item.shortName"></span>
		|
		<span data-ng-bind="item.fullName"></span>
		|
		<span data-ng-bind="item.description"></span>
		<data-ui-view name="extend" />
	</div>
</div>
