/**
	/style/site.css

	Last modification:
	Include "main" by name.
**/

#main
,
[name=main]
{
	grid-area: a;
}

#menu
{
	grid-area: e;
}

#wrapper
{
	display: grid;
	grid-template-areas:
		"h h h"
		". e ."
		". a ."
		"f f f"
		;
	grid-template-columns:
		repeat(1, 1fr)
		repeat(1, 10fr)
		repeat(1, 1fr)
	;
}

#wrapper
#wrapper
{
	display: grid;
	grid-template-areas:
		"e . a"
		;
	grid-template-columns:
		repeat(1, 2fr)
		1%
		repeat(1, 9fr)
	;
}

body
{
}

footer
{
	grid-area: f;
}

header
{
	grid-area: h;
}
