<div>
	<h3>{{vm.displayName}}</h3>
	<div class="text-danger" data-ng-bind="vm.errorMessage" data-ng-show="vm.errorMessage"></div>
	<div>
		<form name="item" novalidate data-ng-submit="vm.onSubmit()">
			<div class="form-group">
				<label for="shortName">Short Name:</label>
				<input
					class="form-control"
					data-ng-minlength="1"
					data-ng-model="vm.item.shortName"
					id="shortName"
					name="shortName"
					placeholder="...up to ### characters."
					required
					type="text"
				/>
				<span data-ng-show="item.shortName.$dirty && item.shortName.$invalid" class="text-warning">
					<span data-ng-show="item.shortName.$error.required">Required.</span>
					<span data-ng-show="item.shortName.$error.minlength">Minimum length not satisfied.</span>
				</span>
			</div>
			<div class="form-group">
				<label for="fullName">Full Name:</label>
				<input
					class="form-control"
					data-ng-minlength="1"
					data-ng-model="vm.item.fullName"
					id="fullName"
					name="fullName"
					placeholder="...up to ### characters."
					required
					type="text"
				/>
				<span data-ng-show="item.fullName.$dirty && item.fullName.$invalid" class="text-warning">
					<span data-ng-show="item.fullName.$error.required">Required.</span>
					<span data-ng-show="item.fullName.$error.minlength">Minimum length not satisfied.</span>
				</span>
			</div>
			<div class="form-group">
				<label for="description">Description:</label>
				<textarea 
					class="form-control" 
					data-ng-minlength="1" 
					data-ng-model="vm.item.description" 
					id="description" 
					name="description" 
					placeholder="...up to ### characters."
					required 
				>
				</textarea>
				<span data-ng-show="item.description.$dirty && item.description.$invalid" class="text-warning">
					<span data-ng-show="item.description.$error.required">Required.</span>
					<span data-ng-show="item.description.$error.minlength">Minimum length not satisfied.</span>
				</span>
			</div>
			<data-ng-include
				data-ng-if="vm.template && vm.template.saveURL"
				src="vm.template.saveURL"
			/>
			<div class="form-group">
				<input
					class="btn btn-sm btn-primary"
					data-ng-disabled="item.$pristine || item.$invalid"
					type="submit"
					value="Save"
				/>
				<input
					class="btn btn-sm btn-default"
					data-cancel-text="No"
					data-confirm-text="Yes"
					data-message="Are you sure?"
					data-mwl-confirm
					data-ng-hide="vm.isNew()"
					data-on-confirm="vm.onRemove()"
					data-title="Confirm Delete {{vm.displayName}}"
					type="button"
					value="Delete"
				/>
				<input
					class="btn btn-sm btn-default"
					data-ng-click="vm.onCancel()"
					data-ui-sref="^"
					type="button"
					value="Cancel"
				/>
			</div>
		</form>
	</div>
</div>
